/EnergyGame/[Ll]ibrary/
/EnergyGame/[Tt]emp/
/EnergyGame/[Oo]bj/
/EnergyGame/[Bb]uild/
/EnergyGame/[Bb]uilds/
/EnergyGame/[Ll]ogs/
/EnergyGame/[Mm]emoryCaptures/
/Lib/EnergyGameModel/[Oo]bj/
/Lib/EnergyGameModel/[Bb]in/



.vs/

.consulo/
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db